<h1>Edit Comment</h1>
<p><strong>Awards:</strong> <%= @award.year %> <%= @award_creator.awards_name %></p>
<%= form_for(@comment) do |f| %>
    <%= f.hidden_field :award_id %>
    <%= f.text_area :content %><br>
    <%= f.submit "Edit Comment" %>
<% end %>
