<!DOCTYPE html>
<html>
  <head>
    <title>StarwarsRpgProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <nav>
        <ul id="nav-list">
            <li class="nav-list-item"><a href="/" class ="nav-link">Home</a></li>
            <li class="nav-list-item"><a href="/logout" class="nav-link">Logout</a></li>
            <li class="nav-list-item"><a href="/lists" class="nav-link">List Categories</a></li>
            <li class="nav-list-item"><a href="/new" class="nav-link">Create List</a></li>
        </ul>
    </nav>
</div>
    <%= yield %>
  </body>
</html>
